/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1560px) {
	.header__left .location-main {
		margin-left: 20px;
		max-width: 334px;
	}
	body {
		font-size: 15px;
	}
	.location-main strong {
		font-size: 15px;
	}
	.header {
		font-size: 13px;
	}
	.header__contacts {
		padding-left: 18px;
	}	
	.phone-main {
		font-size: 17px;
	}
	.header__social {
		padding: 0 25px;
	}
	.header__button {
		padding: 0 25px;
	}
	.search-main input,
	.btn-catalog {
		font-size: 15px;
	}
	.btn-catalog {
		padding-right: 23px;
	}
	.header__left {
		padding-top: 10px;
		padding-bottom: 7px;
	}
	.search-main input:focus {
		width: 1115px;
	}
	.title-billbord {
		font-size: 53px;
		line-height: 90px;
	}
	.name-billbord {
		font-size: 87px;
		line-height: 70px;
	}
	.name-billbord span {
		font-size: 27px;
		line-height: 37px;
		margin-left: 19px;
	}
	.descr-billbord {
		font-size: 28px;
		line-height: 37px;
	}
	.content-billbord {
		min-height: 480px;
	}
	.slide-billbord {
		padding: 50px 50px;
		min-height: 620px;
	}
	.item-benefit {
		padding: 0 30px;
	}
	.tabs a {
		height: 59px;
		font-size: 16px;
		line-height: 23px;
	}
	.item-catalog {
		padding: 0 24px;
	}
	.item-catalog__bottom {
		padding-top: 25px;
	}
	.item-catalog__title {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 12px;
	}
	.calculator-block {
		padding: 35px 45px;
	}
	.calculator-wrapper {
		padding: 34px 25px;
		margin-right: 35px;
	}
	.result-calculator {
		font-size: 18px;
		line-height: 25px;
		padding-top: 15px;
	}
	.block-form {
		padding: 26px 30px;
		padding-bottom: 30px;
	}
	.block-form .checkbox {
		margin-top: 30px;
	}
	.item-form .jq-selectbox__select-text, .item-form input {
		padding: 0 15px;
	}
	.item-advantage {
		padding: 35px 25px;
	}
	.item-advantage__icon {
		width: 90px;
		height: 90px;
		margin-right: 20px;
	}
	.article-content h3,
	.title-small {
		font-size: 18px;
		line-height: 26px;
	}
	.item-advantage .title-small {
		min-height: 52px;
	}
	.slider-for__item {
		height: 370px;
	}
	.slider-nav__item {
		height: 117px;
		margin-bottom: 7px;
	}
	.info-portfolio {
		padding: 16px 30px;
		min-height: calc(100% - 9px);
		padding-bottom: 25px;
	}
	.portfolio-block .title-section {
		padding: 30px 60px;
		max-width: 1075px;
	}
	.item-lead {
		padding: 25px 50px;
		min-height: 161px;
	}
	.item-lead .title-small {
		margin-bottom: 11px;
	}
	.lead-image {
		height: 322px;
	}
	.lead-image .btn-main {
		left: 40px;
		bottom: 25px;
	}
	.lead-video {
		height: 161px;
	}
	.play-button__icon {
		width: 84px;
		height: 84px;
		margin-right: 15px;
		background-size: 24px auto;
	}
	.clients-block {
		padding: 55px 70px;
	}
	.item-news .col-lg-6 .title-small {
		font-size: 22px;
		line-height: 32px;
	}
	.contacts-block {
		padding: 23px 42px;
		padding-bottom: 0;
		font-size: 16px;
		line-height: 23px;
		left: 15px;
		width: 450px;
		height: 475px;
	}
	#map {
		height: 475px;
	}
	.footer__nav_big a, .footer__title {
		font-size: 18px;
		line-height: 26px;
	}
	.item-news__text {
		padding-top: 15px;
		padding-bottom: 11px;
	}
	.col-lg-6 .item-news__date {
		font-size: 15px;
	}
	.title-consultation {
		font-size: 34px;
		line-height: 48px;
		max-width: 540px;
	}
	.menu a {
		font-size: 15px;
	}
	.wrapper {
		padding-top: 136px;
	}
	.header.nav-up {
		transform: translateY(-138px);
	}
	.article {
    padding-top: 45px;
}
.article-billbord {
    padding-top: 45px;
    min-height: 355px;
    }
    .article-billbord .breadcrumbs {
    margin-bottom: 50px;
}
.article-content h2 {
    font-size: 30px;
    line-height: 43px;
    }
    .list-article li {
    margin-bottom: 11px;
}
.article-content h1 {
	margin-bottom: 11px;
}
.article-content h3, .article-content .title-small {
    margin-bottom: 15px;
}
}
@media only screen and (max-width : 1300px) {
	body {
		font-size: 14px;
		line-height: 20px;
	}
	.header__social,
	.header__button {
		padding: 0 15px;
	}
	.header {
		font-size: 12px;
	}
	.header__left .location-main {
		margin-left: 7px;
		max-width: 305px;
	}
	.phone-main {
		font-size: 16px;
	}
	.header__contacts .phone-main {
		margin-top: 2px;
	}
	.header__contacts {
		padding-left: 12px;
	}
	.menu a {
		font-size: 14px;
	}
	.content-billbord {
		min-height: 440px;
	}
	.slide-billbord {
		padding: 40px 35px;
		min-height: 570px;
	}
	.image-billbord img {
		max-width: 380px;
	}
	.image-billbord {
		right: -112px;
		bottom: -134px;
	}
	.item-catalog__price span {
		font-size: 18px;
		line-height: 26px;
	}
	.feature {
		line-height: 28px;
	}
	.item-catalog__price sup {
		font-size: 9px;
	}
	.calculator-block {
		padding: 30px 30px;
	}
	.article-content h1,
	.title-section {
		font-size: 36px;
		line-height: 50px;
	}
	.calculator-block .title-section {
		padding-bottom: 25px;
	}
	.result-calculator {
		font-size: 16px;
		line-height: 23px;
		padding-top: 5px;
	}
	.advantages .title-section {
		padding-bottom: 30px;
		max-width: 900px;
	}
	.item-advantage__icon {
		width: 75px;
		height: 75px;
		margin-right: 15px;
	}
	.article-content h3,
	.title-small {
		font-size: 17px;
		line-height: 25px;
	}
	.image-advantage img {
		max-width: 580px;
	}
	.image-advantage {
		right: -360px;
		bottom: -115px;
	}
	.tabs a {
		height: 55px;
		font-size: 14px;
		line-height: 22px;
	}
	.portfolio .tab-container {
		padding: 25px;
	}
	.clients-block {
		padding: 45px 50px;
	}
	.image-consult img {
		max-width: 1100px;
	}
	.image-consult {
		left: -385px;
		bottom: -30px;
	}
	.title-consultation {
		font-size: 32px;
		line-height: 45px;
		max-width: 510px;
	}
	.item-consultation {
		padding: 20px 25px;
	}
	.item-news__image {
		height: 270px;
	}
	.item-news__content {
		padding: 20px 20px;
	}
	.item-news .col-lg-6 .title-small {
		font-size: 20px;
		line-height: 28px;
	}
	.search-main input:focus {
		width: 980px;
	}
	.feature sup {
		font-size: 8px;
	}
	.wrapper {
		padding-top: 121px;
	}
	.header.nav-up {
		transform: translateY(-124px);
	}
	.article-billbord .title-section {
    max-width: 890px;
}
.article-billbord {
	min-height: 320px;
}
.article-content h2 {
    font-size: 28px;
    line-height: 40px;
}
.list-article li {
	margin-bottom: 0;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.social-title {
		display: none;
	}
	.btn-main {
		height: 50px;
		padding: 0 25px;
	}
	.menu {
		padding: 0 15px;
	}
	.menu a {
		font-size: 13px;
	}
	.search-main {
		width: 125px;
	}
	.search-main input {
		width: 90%;
	}
	.search-main input:focus {
		width: 740px;
	}
	.location-main strong {
		font-size: 14px;
	}
	.phone-main {
		font-size: 14px;
	}
	.header {
		font-size: 10px;
		line-height: 18px;
	}
	.header__social, .header__button {
		padding: 0 15px;
	}
	.logo img {
		width: 115px;
	}
	.logo {
		font-size: 11px;
		line-height: 14px;
		max-width: 115px;
	}
	.search-main input, .btn-catalog {
		font-size: 14px;
	}
	.btn-catalog {
		padding-right: 13px;
	}
	.location-main__value {
		padding-left: 15px;
	}
	.location-main__value i {
		font-size: 10px;
	}
	.header__left .location-main {
		max-width: 255px;
	}
	.title-billbord {
		font-size: 40px;
		line-height: 60px;
	}
	.name-billbord {
		font-size: 67px;
		line-height: 60px;
	}
	.name-billbord span {
		font-size: 23px;
		line-height: 30px;
		margin-left: 15px;
	}
	.slide-billbord {
		padding: 33px 20px;
		min-height: 495px;
	}
	.unit-billbord__title strong {
		font-size: 29px;
		line-height: 36px;
		margin-right: 3px;
	}
	.unit-billbord__item {
		padding: 11px 20px;
		padding-bottom: 15px;
		font-size: 16px;
		line-height: 24px;
	}
	.unit-billbord {
		width: 300px;
	}
	.content-billbord {
		min-height: 370px;
	}
	.item-benefit {
		padding: 0 10px;
	}
	.benefits-block {
		padding: 0 20px;
	}
	.item-benefit__image {
		height: 150px;
	}
	.catalog .title-min {
		padding-bottom: 22px;
	}
	.item-catalog__title {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 5px;
	}
	.item-catalog {
		padding: 0 11px;
	}
	.feature {
		line-height: 22px;
		margin-bottom: 6px;
	}
	.feature span {
		min-width: 43px;
	}
	.item-catalog .btn-main {
		height: 45px;
		padding: 0 15px;
	}
	.item-catalog__price span {
		font-size: 16px;
		line-height: 24px;
	}
	.item-catalog__bottom {
		padding-top: 10px;
	}
	.article-content h1,
	.title-section {
		font-size: 30px;
		line-height: 41px;
	}
	.calculator-block {
		padding: 25px 15px;
	}
	.calculator-block .block-form {
		margin-left: -53px;
	}
	.descr-calculator {
		max-width: 570px;
	}
	.title-form {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 8px;
	}
	.calculator {
		padding-bottom: 45px;
	}
	.advantages .title-section {
		padding-bottom: 25px;
		max-width: 750px;
	}
	.item-advantage {
		padding: 30px 9px;
		padding-left: 5px;
	}
	.article-content h3,
	.title-small {
		font-size: 16px;
		line-height: 22px;
	}
	.item-advantage p {
		margin-bottom: 12px;
	}
	.item-advantage .title-small {
		min-height: 44px;
	}
	.advantages {
		padding-bottom: 40px;
	}
	.tabs a {
		height: 55px;
		font-size: 13px;
		line-height: 20px;
	}
	.feature strong {
		line-height: 17px;
	}
	.info-portfolio .title-small {
		margin-bottom: 9px;
	}
	.info-portfolio__name {
		margin-bottom: 3px;
	}
	.info-portfolio {
		padding: 10px 20px;
		min-height: calc(100% - 9px);
		padding-bottom: 14px;
	}
	.slider-for__item {
		height: 320px;
	}
	.slider-nav__item {
		height: 100px;
	}
	.item-lead {
		padding: 20px 20px;
		min-height: 155px;
	}
	.lead-image {
		height: 309px;
	}
	.lead-video {
		height: 155px;
	}
	.clients-block {
		padding: 39px 35px;
	}
	.item-client {
		height: 110px;
		padding: 10px;
	}
	.title-consultation {
		font-size: 28px;
		line-height: 40px;
		max-width: 420px;
	}
	.image-consult {
		left: -325px;
	}
	.item-consultation {
		padding: 20px 15px;
	}
	.consultation {
		padding-bottom: 40px;
	}
	.item-news__image {
		height: 230px;
	}
	.contacts-block {
		padding: 23px 20px;
		padding-bottom: 0;
		font-size: 14px;
		line-height: 23px;
		width: 385px;
	}
	.footer__nav_big a, .footer__title {
		font-size: 16px;
		line-height: 23px;
	}
	.article-content h3 sup,
	.title-small sup {
		font-size: 9px;
	}
	.contacts-main__title {
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 14px;
	}
	.unit-contacts {
		padding: 20px;
		padding-top: 25px;
	}
	.title-contact {
		font-size: 22px;
		line-height: 32px;
	}
	.contact-content {
		padding: 20px 25px;
	}
	.item-dropdown__content {
		padding-left: 25px;
	}
	.item-dropdown__head {
		padding-left: 25px;
	}
	.article-billbord .title-section {
    max-width: 720px;
}
.article-billbord .breadcrumbs {
    margin-bottom: 35px;
}
.article-billbord {
    min-height: 265px;
    padding-top: 25px;
}
.article-content h2 {
    font-size: 25px;
    line-height: 30px;
}
.article-content ol, .article-content ul, .article-content p {
    margin-bottom: 15px;
}
.article {
    padding-top: 35px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-bottom,
	.header__left .location-main,
	.header__contacts,
	.header__social, 
	.header__button {
		display: none;
	}
	.unit-billbord,
	.image-billbord {
		display: none;
	}
	.row_benefits > div {
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	.row_benefits > div {
		padding-top: 20px;
	}
	.item-benefit {
		text-align: center;
		justify-content: center;
	}
	.item-benefit br {
		display: none;
	}
	.item-benefit__image {
		justify-content: center;
	}
	.row_catalog > div {
		margin-bottom: 15px;
	}
	.catalog {
		padding-bottom: 30px;
	}
	.calculator-block .block-form {
		margin: 0;
		margin-top: 20px;
	}
	.row_advantages > div:nth-child(odd) .item-advantage {
		background: #fff;
	}
	.row_advantages > div:nth-child(3n+1) .item-advantage {
		background: #F9F9F9;
	}
	.portfolio-block .title-section {
		padding: 30px 35px;
	}
	.col_for {
		order: -1;
	}
	.slider-for {
		margin: 0;
	}
	.bottom-button {
		padding-top: 20px;
	}
	.slider-nav {
		margin: 0 -5px;
		margin-top: 10px;
	}
	.slider-nav .slick-slide {
		padding: 0 5px;
	}
	.info-portfolio {
		padding: 25px;
		margin: 0;
		min-height: initial;
	}
	.leads {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.leads .title-section {
		padding-bottom: 20px;
	}
	.lead-image {
		height: 155px;
	}
	.lead-image .btn-main {
		left: 15px;
		bottom: 15px;
	}
	.clients-block .title-section {
		padding-bottom: 23px;
	}
	.clients-block {
		padding: 24px 35px;
	}
	.clients {
		padding-bottom: 40px;
	}
	.image-consult {
		left: -200px;
		bottom: -100px;
	}
	.image-consult img {
		max-width: 700px;
	}
	.image-consult {
		left: -60px;
		bottom: -23px;
	}
	.item-news__image {
		height: 280px;
	}
	.news {
		padding-bottom: 50px;
	}
	.contacts-block {
		width: 354px;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer__title,
	.footer__nav_big a {
		padding: 10px 0;
		border-bottom: 1px solid #F5F5F5;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__title i {
		font-size: 12px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__content {
		display: none;
		padding-top: 15px;
	}
	.footer .social-list,
	.footer .phone-main {
		display: none;
	}
	.hidden-mob {
		display: none !important;
	}
	.footer-bottom {
		font-size: 13px;
		text-align: center;
		border: none;
		margin-top: 0;
	}
	.create {
		justify-content: center;
	}
	.footer-bottom .row > div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.btn_top {
		float: none;
	}
	.footer__contacts {
		text-align: left;
	}
	.item-catalog {
		padding: 0 20px;
	}
	.calculator-wrapper {
		margin-right: 0;
	}
	.wrapper {
		padding-top: 69px;
	}
	.header.nav-up {
		transform: translateY(-70px);
	}
	.btn-menu {
		font-size: 14px;
		font-weight: 500;
		color: #000;
		cursor: pointer;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
	}
	.btn-menu__title {
		margin-right: 20px;
	}
	.btn-menu .sandwich {
		align-items: flex-end;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 0px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background: #fff;
		position: absolute;
	}
	.menu a {
		margin: 0;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		padding: 10px 0;
		height: auto;
		border-bottom: 1px solid #040F0F;
		text-align: left;
		word-spacing: initial;
		display: block;
		position: relative;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		height: auto;
		border: none;
	}
	.menu-mobile .header__contacts,
	.menu-mobile .header__social {
		display: flex;
		align-items: flex-start;
		min-height: initial;
		padding: 0;
		margin-top: 15px;
	}
	.header {
		font-size: 14px;
		line-height: 22px;
		transform: none !important;
	}
	.menu-mobile  .social-title {
		display: block;
	}
	.menu-mobile .btn-main {
		width: 100%;
	}
	.menu-mobile .location-main {
		margin-top: 15px;
	}
	.location-main__value i {
		top: 8px;
	}
	.search-main input {
		width: 100% !important;
	}
	.search-main {
		width: 100%;
		margin-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	.unit-contacts {
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	.contact-content {
		margin-bottom: 25px;
	}
	.menu-mobile .location-main__dropdown {
		position: relative;
		top: 0;
		visibility: visible;
		opacity: 1;
		transition: inherit;
		padding: 0;
		padding-left: 15px;
		display: none;
	}
	.location-main:hover .location-main__value i {
		transform: rotate(0deg);
	}
	.location-main__value.active i {
		transform: rotate(180deg) !important;
	}
	.article {
    padding-top: 20px;
}
.article-billbord .breadcrumbs {
    margin-bottom: 25px;
}
.article-billbord {
    min-height: 225px;
}
.article-content h2 {
    font-size: 23px;
    line-height: 29px;
}
.row_images {
	margin: 0 -5px;
}
.row_images > div {
	padding: 0 5px;
}
.delivery {
    padding-top: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-billbord {
		font-size: 30px;
		line-height: 43px;
	}
	.name-billbord {
		font-size: 52px;
		line-height: 51px;
	}
	.name-billbord span {
		font-size: 19px;
		line-height: 25px;
		margin-left: 12px;
	}
	.descr-billbord {
		font-size: 18px;
		line-height: 25px;
	}
	.buttons-billbord .btn-main {
		margin: 0 5px;
	}
	.buttons-billbord {
		margin: 0 -5px;
	}
	.tabs {
		white-space: nowrap;
		overflow: auto;
		margin-right: -15px;
		background-color: transparent;
		padding-bottom: 5px;
	}
	.tabs a {
		font-size: 14px;
		padding: 0 20px;
		background: #2BA84A;
	}
	.tabs::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tabs::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tabs::-webkit-scrollbar-thumb {
		background-color: #ccc;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #000;
	}
	.title-min {
		font-size: 16px;
		line-height: 22px;
	}
	.item-catalog {
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
	.calculator-wrapper {
		padding: 25px;
	}
	.item-form .jq-selectbox__select-text, 
	.item-form input {
		font-size: 14px;
	}
	.block-form .checkbox {
		margin-top: 20px;
	}
	.row_advantages > div:nth-child(3n+1) .item-advantage {
		background-color: #fff;
	}
	.row_advantages > div:nth-child(odd) .item-advantage {
		background: #F9F9F9;
	}
	.article-content h1,
	.title-section {
		font-size: 25px;
		line-height: 34px;
	}
	.portfolio-block .title-section {
		padding: 20px 20px;
	}
	.portfolio-block {
		margin: 0 -15px;
	}
	.portfolio .tab-container {
		padding: 25px 15px;
	}
	.slider-for__item {
		height: 290px;
	}
	.slider-nav__item {
		height: 85px;
	}
	.info-portfolio .btn-main {
		margin-top: 25px;
	}
	.lead-image {
		height: 170px;
		position: relative;
		left: 0;
		right: 0;
	}
	.item-lead {
		padding-bottom: 30px;
		min-height: initial;
	}
	.clients-block {
		margin: 0 -15px;
	}
	.clients-block {
		padding: 30px 15px;
	}
	.item-client {
		height: 95px;
	}
	.title-consultation {
		font-size: 25px;
		line-height: 38px;
		max-width: 387px;
	}
	.row_consultation {
		margin-top: 30px;
	}
	.consultation .block-form {
		max-width: 100%;
		float: none;
		margin-top: 30px;
	}
	.image-consult {
		display: none;
	}
	.contacts-block {
		padding-bottom: 25px;
		position: relative;
		left: 0;
		right: 0;
		height: auto;
		width: 100%;
		max-width: 100%;
	}
	#map {
		height: 300px;
	}
	.page-contacts .title-section {
		padding-bottom: 16px;
	}
	.title-contact {
		font-size: 18px;
		line-height: 30px;
	}
	.text-contacts {
		line-height: 23px;
	}
	.item-dropdown__head {
		padding: 15px;
	}
	.item-dropdown__content {
		padding: 15px;
		padding-top: 0;
	}
	.page-contacts {
		padding-bottom: 30px;
	}
	.row_news > div {
		margin-top: 20px;
	}
	.page-news {
		padding-top: 24px;
		padding-bottom: 35px;
	}
	.pager {
		margin-top: 26px;
	}
	.portfolio-block .tabs {
		margin-left: 15px;
	}
	.article-billbord {
		margin: 0 -15px;
		margin-bottom: 20px;
	}
	.article {
		padding-top: 0;
		padding-bottom: 25px;
	}
	.article-billbord .breadcrumbs {
    margin-bottom: 15px;
    text-align: center;
}
.article-content h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 13px;
}
.article-content img {
    margin-bottom: 20px;
    margin-top: 0px;
}
.article-billbord .title-section {
	padding: 0 15px;
}
}
 
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-billbord {
		font-size: 23px;
		line-height: 37px;
	}
	.billbord {
		margin: 0 -15px; 
	}
	.name-billbord {
		font-size: 46px;
		line-height: 45px;
	}
	.name-billbord span {
		font-size: 16px;
		line-height: 21px;
		margin-left: 10px;
	}
	.slide-billbord {
		padding: 35px 15px;
		min-height: 460px;
	}
	.content-billbord {
		min-height: 350px;
	}
	.text-billbord {
		padding-bottom: 14px;
	}
	.benefits-block {
		padding: 0 15px;
	}
	.calculator-wrapper {
		border: none;
		padding: 0;
	}
	.calculator-wrapper .item-form {
		margin-bottom: 20px;
	}
	.item-catalog .btn-main {
		padding: 0 25px;
	}
	.item-advantage {
		padding: 25px 15px;
	}
	.image-advantage img {
		max-width: 460px;
	}
	.image-advantage {
		right: -235px;
		bottom: -115px;
	}
	.slider-for__item {
		height: 240px;
	}
	.slider-nav__item {
		height: 60px;
	}
	.slider-portfolio .slick-dots {
		bottom: 11px;
	}
	.title-consultation {
		font-size: 20px;
		line-height: 35px;
		max-width: 313px;
	}
	.head-page {
		display: block;
	}
	.head-page .link-main {
		margin-top: 10px;
	}
	.item-news .col-lg-6 .title-small {
		font-size: 18px;
		line-height: 25px;
	}
	.item-news__text {
		padding-top: 10px;
		padding-bottom: 0px;
	}
	.col-lg-6 .item-news__date {
		font-size: 13px;
	}
	.news {
		padding-bottom: 40px;
	}
	.title-block {
		font-size: 20px;
		line-height: 29px;
	}
	.contacts-block {
		margin: 0 -15px;
		width: initial;
		max-width: initial;
	}
	.article-billbord {
		padding-top: 15px;
	}
	.article-billbord .title-section {
    font-size: 23px;
    line-height: 31px;
}
.article-content h2 {
    font-size: 18px;
    line-height: 24px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
	.row_catalog > div:nth-child(2n+1) .item-catalog {
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.row_catalog > div:nth-child(4n+1) .item-catalog {
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
	.footer__content {
		display: block !important;
	}
	.menu-mobile,
	.btn-menu {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1300px) {
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1560px) {
	.container {
		max-width: 1470px;
	}
}